<% include partial/header %>
    <div class=hero>
        <h1>Don't stop when your are tired.<br>STOP when you are </h1><p><span class="span-hero">DONE!</span></p>
        <p>When you focus on problems, you'll have more problems. When you focus on possibilities, you'll have more opportunities</p>
        <div class="hero-btn">
            <span>Are you new? &nbsp; &nbsp;<a href="#">Sign Up here!</a></span>
        </div>        
    </div>       
<% include partial/footer %>